{% extends "base.html" %}
{% block title %}EmpreGO! - Cadastrar empresa {% endblock %}
{% block content %}
<h1>EmpreGO</h1>
<h2>Nova empresa</h2>
<hr>
<form action="/cadastrar_empresa" method="post">
<label for="nome_empresa">Nome Fantasia da Empresa</label>
<input type="text" name="nome_empresa" class="form-control" required><br><br>

<label for="cnpj" class="form-label">CNPJ</label>
<input type="text" id="cnpj" name="cnpj" class="form-control" required><br><br>

<label for="telefone" class="form-label"> Telefone de contato</label>
<input type="text" id="telefone" name="telefone" class="form-control" required><br><br>

<h2>Informações para acesso da plataforma</h2>
<label for="email" class="form-label"> E-mail (LOGIN)</label>
<input type="email" name="email" class="form-control"  required><br><br>

<label for="senha" class="form-label" >Senha</label>
<input type="text" name="senha" class="form-control" required><br><br>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Cadastrar empresa</button>
</div>{% if msg_erro %} <p>{{ msg_erro }} </p> {% endif %}

</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
<!-- Script de validação do BS -->
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
  form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})()
</script>

<!-- Script do Input Mask -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>

<!-- Script de configuração do Input Mask -->
<script>
  Inputmask("99.999.999/9999-99").mask(document.getElementById("cnpj")); //Máscara para CNPJ
  
  Inputmask("(99) 99999-9999").mask(document.getElementById("telefone")); // Telefone

</script>
{% endblock %}