{% extends "base.html" %}

{% block title %}EmpreGO! - Candidatura Enviada{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="text-success">Formulário enviado com sucesso!</h1>
            <p class="mt-4">Obrigado por escolher a nossa empresa. Aguarde para futuras atualizações.</p>
            
            
            <a href="/" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
        </div>
    </div>
</div>

{% endblock %}